.website{
    width: 100%;
    height: 100px;
    background-color: rgb(70, 70, 70);
    border: 3px solid black;
    display: flex;
    flex-direction: row;
}
.wb{
    color:white ;
    font-size: 30px;
    margin: 30px;
}
ul {
    display: flex;
    margin-left: 75%;
    margin-top: 37px;
    color: white;
}
.card{
   border: 3px solid black;
   width: 350px;
   height: 200px;
}
.gumbo{
    width: 56%;
   }
.one{
    background-color: rgb(70, 70, 70);
    width: 350px;
    height: 50px;

   }
.rd{
    color:white ;
    font-size: 20px;
   margin: 10px;
   }